<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.0/phpunit.xsd" columns="max" stderr="true">
    <testsuites>
        <testsuite name="DHL Express API Unit Tests">
            <directory>./Unit</directory>
        </testsuite>
        <testsuite name="DHL Express API Integration Tests">
            <directory>./Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>

